aiobotocore
aiohttp
alembic
anyio
attrs
beautifulsoup4
black
boto3
botocore
cachetools
celery
certifi
cffi
chardet
charset-normalizer
click
colorama
coverage
cryptography
distlib
django
dnspython
docutils
fastapi
filelock
flake8
flask
fonttools
google-auth
googleapis-common-protos
greenlet
grpcio
gunicorn
httpx
idna
importlib-metadata
isort
jinja2
jmespath
joblib
jsonschema
kombu
lxml
markupsafe
matplotlib
more-itertools
msgpack
mypy
numpy
opencv-python
packaging
pandas
pillow
pip
platformdirs
pluggy
protobuf
psutil
psycopg2-binary
pyarrow
pyasn1
pycparser
pydantic
pylint
pymongo
pyopenssl
pyparsing
pytest
python-dateutil
python-dotenv
pytz
pyyaml
redis
regex
requests
rich
rsa
s3transfer
scikit-learn
scipy
setuptools
simplejson
six
soupsieve
sqlalchemy
starlette
tensorflow
threadpoolctl
tomli
torch
tqdm
twisted
typer
typing-extensions
urllib3
uvicorn
virtualenv
wheel
wrapt
zipp
blake3
